<div class="normal-web">
<div class="nav">
  <nav>
    <div class="nav-div title-div">
      <h4 class="app-title">
        Employee Manager App
      </h4>
    </div>
    <div class="nav-div add-div" id="add-div" (mouseenter)="onMouseOverAddAnim()" (mouseleave)="onMouseOutDelAnim()">
        <a class="add-a" id="add-a" (click)="openModal(null,'add')" >
          Add Employee
        </a>
    </div>
    <div class="nav-div search-div">
      <form>
        <label for="searchName" class="name-src-label">Search by name:</label>
        <input #key="ngModel" ngModel type="search" (ngModelChange)="searchEmployyes(key.value)" class="name-src" id="searchName" name="name" placeholder="employee name ......." >
      </form>
    </div>
  </nav>
</div>
<div class="container" id="main-container">
  <div *ngFor="let employee of employees" class="emp-card">
    <div class="fst emp-div" >
      <div class="img-div">
        <img src="{{employee?.imageUrl}}" alt="employee img" class="emp-img">
      </div>
      <div class="name-div">
        <h4 class="name-h4">
          {{employee?.name}}
        </h4>
        <span class="employee-text">
          {{employee?.jobTitle}}
        </span>
      </div>
    </div>
    <div class="snd emp-div">
      <div class="sub-div">
        <span class="employee-text">Email: {{employee?.email}}</span>
      </div>
      <div class="icon-div">
        <img src="../assets/email.png"  alt="email" class="icon email-icon">
      </div>
    </div>
    <div class="trd emp-div">
      <div class="sub-div">
        <span class="employee-text">Phone : {{employee?.phone}}</span>
      </div>
      <div class="icon-div">
        <img src="../assets/phone.png" alt="phone" class="icon phone-icon">
      </div>
    </div>
    <div class="fth emp-div">
      <div class="sc-div">
        <img src="../assets/fb.jpg" alt="fb" class="icon fb-icon" >
        <img src="../assets/tw.jpg" alt="tw" class="icon tw-icon">
        <img src="../assets/ggl.jpg" alt="ggl" class="icon ggl-icon">
      </div>
      <div class="act-but-div">
        <a  (click)="openModal(employee,'edit')">
          <img src="../assets/edit.png" alt="edit" class="icon icon-hover" >
        </a>
        <a (click)="openModal(employee,'delete')">
          <img src="../assets/delete.jpg" alt="delete" class="icon icon-hover" >
        </a>
      </div>
    </div>
  </div>
  <div class="error-div" *ngIf="employees?.length == 0">
    <h3>
      No Employees !
    </h3>
    <span class="error-msg">
      No Employees were found!!
    </span>
  </div>
</div>
<footer>
  <p>
    Made by Patryk G. @2021
  </p>
</footer>
</div>

<!--Modal Add Employee-->
<div class="modal" id="add-modal">
  <div class="modal-background" >
    <div class="modal-form add-form">
      <div class="modal-form-head modal-div">
        <h2>
          {{modalTitle}}
        </h2>
      </div>
        <form #addForm='ngForm' (ngSubmit)="addEmployee(addForm)">
        <div class="modal-form-body modal-div">
          <div class="form-div">
            <label for="name" class="form-label">Name: </label>
            <input type="text" ngModel id="name"  name="name" required placeholder="Name:  " class="form-input">
          </div>
          <div class="form-div">
            <label for="email" class="form-label">Email: </label>
            <input type="email" ngModel id="email"  name="email" required placeholder="Email: " class="form-input">
          </div>
          <div class="form-div">
            <label for="jobTitle" class="form-label">Job Title: </label>
            <input type="text" ngModel id="jobTitle"  name="jobTitle" required placeholder="Job Title: " class="form-input">
          </div>
          <div class="form-div">
            <label for="phone" class="form-label">Phone: </label>
            <input type="text" ngModel id="phone"  name="phone" required placeholder="Phone:" class="form-input">
          </div>
          <div class="form-div">
            <label for="imageUrl" class="form-label">imageUrl: </label>
            <input type="text" ngModel id="imageUrl"  name="imageUrl" required placeholder="imageUrl: " class="form-input">
          </div>
        </div>
        <div class="modal-form-buttons modal-div" >
          <button type="button" (click)="onClickHideAdd()" class="form-button">
            Back
          </button>
          <button [disabled]="addForm.invalid" type="submit" class="form-button">
            Add Employee
          </button>
        </div>
        </form>
    </div>
  </div>
</div>

<!--Modal Edit Employee-->
<div class="modal" id="edit-modal">
  <div class="modal-background" >
    <div class="modal-form edit-form">
      <div class="modal-form-head modal-div">
        <h2>
          {{modalTitle}}
        </h2>
      </div>
        <form #editForm='ngForm' >
        <div class="modal-form-body modal-div" >
          <div class="edit-form-img">
            <img src="{{modalEmployee?.imageUrl}}" alt="photo" class="emp-img">
          </div>
          <div class="form-div">
            <label for="name" class="form-label">Name: </label>
            <input type="text" ngModel="{{modalEmployee?.name}}" id="name" name="name" required placeholder="Name..." class="form-input">
          </div>
          <div class="form-div">
            <label for="email" class="form-label">Email: </label>
            <input type="email" ngModel="{{modalEmployee?.email}}" id="email" name="email" required placeholder="Email..." class="form-input">
          </div>
          <div class="form-div">
            <label for="jobTitle" class="form-label">Job Title: </label>
            <input type="text" ngModel="{{modalEmployee?.jobTitle}}" id="jobTitle" name="jobTitle" required placeholder="Job Title..." class="form-input">
          </div>
          <div class="form-div">
            <label for="phone" class="form-label">Phone: </label>
            <input type="text" ngModel="{{modalEmployee?.phone}}" id="phone" name="phone" required placeholder="Phone..." class="form-input">
          </div>
          <div class="form-div">
            <label for="imageUrl" class="form-label">imageUrl: </label>
            <input type="text" ngModel="{{modalEmployee?.imageUrl}}" id="imageUrl"  name="imageUrl" required placeholder="imageUrl..." class="form-input">
          </div>

          <input type="hidden" ngModel="{{modalEmployee?.id}}" id="id" name="id" required class="form-input">
          <input type="hidden" ngModel="{{modalEmployee?.employeeCode}}" id="employeeCode" name="employeeCode" required placeholder="employeeCode..." class="form-input">
        </div>
        <div class="modal-form-buttons modal-div" >
          <button type="button" (click)="onClickHideEdit()"  class="form-button">
            Back
          </button>
          <button [disabled]="editForm.invalid" (click)="editEmployee(editForm.value)" type="submit" class="form-button">
            Save Changes
          </button>
        </div>
        </form>
    </div>
  </div>
</div>

<!--Modal Delete Employee-->
<div class="modal" id="delete-modal">
  <div class="modal-background">
    <div class="modal-form delete-form">
      <div class="modal-form-head" >
        <h2>
          {{modalTitle}}
        </h2>
      </div >
      <form #delForm="ngForm" (ngSubmit)="deleteEmployee()">
        <div class="modal-form-body">

        </div>
        <div class="modal-form-buttons">
          <button type="button" class="form-button2 back-button" (click)="onClickHideDelete()">
            Back
          </button>
          <button type="submit" class="form-button2 delete-button">
            Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--&lt;!&ndash; Add Employee Modal &ndash;&gt;-->
<!--<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">-->
<!--          <div class="form-group">-->
<!--            <label for="name">Name</label>-->
<!--            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="email">Email Address</label>-->
<!--            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Job title</label>-->
<!--            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Phone</label>-->
<!--            <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Image URL</label>-->
<!--            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Edit Modal &ndash;&gt;-->
<!--<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee {{editEmployee?.name}}</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <form #editForm="ngForm">-->
<!--          <div class="form-group">-->
<!--            <label for="name">Name</label>-->
<!--            <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">-->
<!--          </div>-->
<!--          <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id" placeholder="Email">-->
<!--          <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">-->
<!--          <div class="form-group">-->
<!--            <label for="email">Email Address</label>-->
<!--            <input type="email" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Job title</label>-->
<!--            <input type="text" ngModel="{{editEmployee?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Phone</label>-->
<!--            <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="phone">Image URL</label>-->
<!--            <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>-->
<!--            <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Delete Modal &ndash;&gt;-->
<!--<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p>Are you sure you want to delete employee {{deleteEmployee?.name}}?</p>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>-->
<!--          <button (click)="onDeleteEmployee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
