/***************
nav styles
 */
 .nav{
  background-color: dimgray;
  width: 100%;
  min-height: 5%;
  max-height: 50%;
  margin: 0;
  padding:0;
  float: left;
  color: white;
}
nav{
  width: 100%;
  height: 100%;
  text-align: center;
}
.nav-div{
  height: 100%;
  float: left;
  margin-right: 50px;
}

/* 3 navbar divs*/
.title-div{
  min-height: 100%;
  width: 30%;
}
.add-div{
  height: 100%;
  padding: 10px;
  border: 1px white solid;
  border-radius: 50%;
  margin-top: 10px;
}

.search-div{
  position: relative;
  right: -50px;
  min-height: 100%;
  min-width: 20%;
  max-width: 50%;
  float: right;
  padding: 5px;
  margin-top: 15px;
  border:0;
  padding-bottom: 0px;
  margin-bottom: 3px;
  border-bottom: 3px solid grey;
}
/* H4 of navbar*/
.app-title{
  height: 100%;
  margin-bottom: 20px;
}
/* Add Employee button*/
.add-a{
  height: 100%;
  color: white;
  background: dimgray;
}

/* Search employee input*/
.name-src{
  height: 100%;
  min-width: 40px;
  max-width: 200;
  background-color: dimgray;
  color: white;
  font-family: "Comic Sans MS", serif;
  height: 100%;
  border: 0;
  text-align: center;

  outline: 0;
}
.name-src::placeholder{
  color: white;
  text-decoration:underline 1px white;

}
.name-src:focus{
  outline: 0;
  border: 0;
}
.name-src-label{

}
