
/* You can add global styles to this file, and also import other style files */
body{
  height: 100%;
  width: 100%;
  font-family: "Comic Sans MS", serif;
  background: #dadada;
}
html{
  height: 100%;
  width: 100%;
}
.mg-top-nav{
  margin-top: 57px;
}
.mg-bottom-footer{
  margin-bottom: -16px;
}
::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #dadada;
  border-radius: 20%;
}

::-webkit-scrollbar-track:hover {
  background: rgb(92, 92, 92);
}


::-webkit-scrollbar-thumb {
  background: rgb(32, 32, 32);
  border-radius: 40%;
}

.img-ico-md{
  height: 80px;
  max-width: 100%;
  object-fit: scale-down;
  margin: 20px;
}
.text-whitesmoke{
  color: whitesmoke;
}
.text-black{
  color: black;
}
