<footer class='footer w-100 clearfix mt-0 p-2 pl-lg-5' style="
                                                     min-height: 10%;
                                                     background-color: rgb(170, 170, 170);
                                                     ">
  <div class='w-50 w-auto float-left ' style="height: 38px;">
    <p class='mt-2 m-0'>
      <b>
        Made by Patryk G. @2021r
      </b>
    </p>
  </div>
  <div class='w-50 w-auto float-left rounded-pill ml-lg-5' style="height: 38px;">
    <a href="https://github.com/Paros998" target="_blank" class='btn btn-primary btn-dark m-0'>
      Github Profile
    </a>
  </div>
  <div class='w-50 w-auto float-left rounded-pill ml-lg-5' style="height: 38px;">
    <a href="https://www.linkedin.com/in/patryk-grzywacz-6082b121b/" target="_blank" class='btn btn-primary btn-dark m-0'>
      LinkedIn Profile
    </a>
  </div>
  <div class='w-50 w-auto float-left rounded-pill ml-lg-5' style="height: 38px;">
    <a href="https://www.java.com" target="_blank" class='btn btn-primary btn-dark m-0'>
      Java Website
    </a>
  </div>
  <div class='w-50 w-auto float-left rounded-pill ml-lg-5' style="height: 38px;">
    <a href="https://www.angular.io" target="_blank" class='btn btn-primary btn-dark m-0'>
      Angular Website
    </a>
  </div>
  <div class='w-50 w-auto float-left rounded-pill ml-lg-5' style="height: 38px;">
    <a href="https://www.spring.io" target="_blank" class='btn btn-primary btn-dark m-0'>
      Spring Website
    </a>
  </div>
</footer>

