<div class='mg-top-nav '   style="
                                overflow: visible;
                                height: 100% auto;
                                background-image: url(../../assets/def-bg.jfif);
                                background-attachment: fixed;
                                background-repeat: no-repeat;
                                background-position: center;
                                ">
  <div class='container h-100 w-100 text-center pt-lg-3 mg-bottom-footer' style="
                                      color:whitesmoke;
                                      background-color: #343a40;
                                      opacity: 0.95;">
    <div>
      <h3 class='h3'>
        App Description:
        <hr>
      </h3>
      <div>
        <img class="img-ico-md" src="../../assets/angular.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/components.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/forms.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/http.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/router.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/html.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/css.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/js.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/java.png" alt="zdj">
        <img class="img-ico-md" src="../../assets/spring.png" alt="zdj">
      </div>
      <hr>
      <p>
        This website is made with Angular, as a part of a frontend & backend app.
      </p>
      <hr>
      <p >
        The backend for this app is build with Java and Spring Framework.
      </p>
    </div>
    <hr>
    <div>
      <h3 class='h3'>
        About Me:
      </h3>
      <hr>
      <div>
        <img src="../../assets/prof.jfif" alt="zdj" class='rounded-circle' style="
                                                                           object-fit: scale-down;
                                                                           max-width: 100%;
                                                                           max-height: 100%;">
      </div>
      <hr>
      <p>
        My name is Patryk Grzywacz.
      </p>
      <hr>
      <p>
        I'm a 3rd year Computer Science student at Kielce University of Technology.
      </p>
      <hr>
      <p>
        I'm a fast learning, patient, open-minded and hard-working person.
      </p>
      <hr>
      <p>
        I'm interested in Web-Development as a FullStack Developer(Java,Spring,Angular).
      </p>
      <hr>

    </div>
  </div>
  <app-footer class='position-sticky'></app-footer>
</div>
