<div class="nav">
  <nav>
    <div class="nav-div title-div">
      <h4 class="app-title">
        Employee Manager App
      </h4>
    </div>
    <div class="nav-div add-div" id="add-div" (mouseenter)="onMouseOverAddAnim()" (mouseleave)="onMouseOutDelAnim()"
      (click)="openModal(null,'add')">
      <a class="add-a" id="add-a">
        Add Employee
      </a>
    </div>
    <div class="nav-div search-div">
      <form>
        <label for="searchName" class="name-src-label">Search by name | email | phone | job:</label>
        <input #key="ngModel" ngModel type="search" (ngModelChange)="searchEmployyes(key.value)" class="name-src"
          id="searchName" name="name" placeholder="employee name .......">
      </form>
    </div>
  </nav>
</div>
